body {
  background: rgb(247,85,197);
  background: linear-gradient(87deg, rgba(247,85,197,1) 0%, rgba(249,185,46,1) 100%);  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 3.5rem;
  background-color: rgb(30 41 59);
  border-radius: 0.75rem;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.panel {
 display: flex;
 justify-content: space-between;
 padding-bottom: 1.5rem;
}

.drum, .select {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  border-radius: 0.375rem;
}

.select {
  background-color: rgb(248 113 113);
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-left: 2rem;
  padding-right: 3.5rem;
}


select {
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 10.5rem;
  background-position-y: 1.25rem;
}

.drum {
  width: 5rem;
  height: 5rem;
}

#snare {
  background-color: rgb(132 204 22);
  margin-right: 0.375rem;
}

#kick {
  background-color: rgb(59 130 246);
  margin-right: 0.375rem;
}

#hiHat {
  background-color: rgb(139 92 246);
}

.keyboard {
  display: flex;
  list-style-type: none;
}

.key {
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.first-last-key {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}

.white {
  width: 100px;
  height: 400px;
  background-color: white;
  border: 1px solid rgb(30 41 59);
}

.white.active {
  background-color: #CCC;
}

.black {
  @apply bg-green-200;
  width: 60px;
  height: 240px;
  background-color: rgb(28 25 23);
  margin-left: -30px;
  margin-right: -30px;
  z-index: 1;
}

.black.active {
  background-color: #333;
}
